:root {
    --background-color: #f5f5f5;
    --card-color: #cf8383;
    --button-color: #296088;

}

* {

    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}


body {
    background-color: var(--background-color);
    
}

.timeline{
    max-width: 200px;
    margin:0 auto;
    padding: 0 20px;
    position: relative;
   
}

.timeline .centerline{
position: absolute;
height: 700px;
width: 5px;
background: #0c0b0b;
left: 50%;
top: 30px;
transform: translateX(-50%);
}
/*.timeline::after {

    content: '';
    position: absolute;
    background-color: var(--card-color);
    top: 0;
    bottom: 0;
    left: 45%;
}
*/

.timeline .card-right {
    justify-content: flex-start;
    background-color: aquamarine;
    

}
.card-left {
    background: #cf8383;
    
}


.title {

    display: flex;
    flex-direction: column;
    border-radius: 5px;
    padding: 10px;
}




