:root {
    --background-color: #f5f5f5;
    --card-color: #cf8383;
    --button-color: #296088;

}

html {

    box-sizing: border-box;
}

*::before, *::after {

    box-sizing: inherit;
    
}


body {
    background-color: var(--background-color);
    
}

.timeline{
    position: relative;
    width: 90%;
    margin: 0 auto;
    min-height: 80vh;
 
}

.timeline::before{

    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    border: solid 2px red;
    left: 50%;
    transform: translateX(-50%);
}

/*.timeline .centerline{
position: absolute;
height: 700px;
width: 5px;
background: #0c0b0b;
left: 30%;
top: 30px;
transform: translateX(-50%);
}
*/



.timeline .card{
    display: flex;
    flex-direction: column;
    
}

/*.timeline .card-right {
    
    justify-content: flex-start;
    background-color: aquamarine;
    

}
.timeline .card-left {
    justify-content: flex-end;
    background: #cf8383;
    
}
*/

section {
    display: flex;
    flex-direction: column;
    background: teal;
    margin-top: 30px;
    width: 45%;
    border-radius: 5px;
    padding: 10px;
}




