:root {
    --background-color: #f5f5f5;
    --card-color: #cf8383;
    --button-color: #296088;

}

html {

    box-sizing: border-box;
}

*::before, *::after {

    box-sizing: inherit;
    
}


body {
    background-color: var(--background-color);
    
}

.timeline{
    position: relative;
    width: 90%;
    margin: 0 auto;
    min-height: 80vh;
 
}

.timeline::before{

    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    border: solid 2px red;
    left: 50%;
    transform: translateX(-50%);
}

/*.timeline .centerline{
position: absolute;
height: 700px;
width: 5px;
background: #0c0b0b;
left: 30%;
top: 30px;
transform: translateX(-50%);
}
*/



.timeline .card{
    display: flex;
    flex-direction: column;
    padding: 10px;
       
}



 /*.title::before{
    position:relative;
    content: "";
    height: 25px;
    width: 25px;
    background: #dcf153;
    top: 45px;
    z-index: 3;
    transform: rotate(45deg);
  }
*/
  /*
.timeline .card-right {
    
    justify-content: flex-start;
    background-color: aquamarine;
    

}
.timeline .card-left {
    justify-content: flex-end;
    background: #cf8383;
    
}
*/

section {
    display: flex;
    background: teal;
    margin-top: 30px;
    width: 45%;
    border-radius: 5px;
    padding: 10px;
    /*max-height: 300px;*/

}


img{
    max-width: 100%;
    height: auto;
    
}

section:nth-child(even){
    margin-left: auto;
    
}

section:nth-child(even)::before{
    content: "";
    height: 0;
    width: 0;
    border-top: solid 20px transparent;
    border-right: solid 20px teal;
    border-bottom: solid 20px transparent;
    position:relative;
    top: 8%;
    left: -26px;

}
section:nth-child(even)::after{
    content: "";
    height: 40px;
    width: 200px;
    border-radius: 50%;
    border-color: #cf8383;
    text-align: center;
    vertical-align: middle;
    font-size: 500%;
    position: relative;
    box-shadow: inset -10px -10px 100px #000, 10px 10px 20px black, inset 0px 0px 10px black;
    display: inline-block;
    
}
section:nth-child(odd)::before{

    content: "";
    height: 0;
    width: 0;
    border-top: solid 20px transparent;
    border-left: solid 20px teal;
    border-bottom: solid 20px transparent;
    position:relative;
    top: 8%;
    left:101%;    
    z-index: 3;
  
}
section:nth-child(odd){}


@media (max-width: 768px){
    section:nth-child(even){
        margin-left:initial;
    }
    section:nth-child(odd){
        margin-left: initial;
    }

    section{
        width: 80%;
    }

    .timeline::before{
        left: -2%;
    }

    section:nth-child(odd)::before{

        top: 8%;
        left:-26px;    
        z-index: 3;
        rotate: 180deg;
      
    }

}



